body {
  background-color: black;
  color: white;
}

.wrapper {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.result {
  width: 90%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.resultShow {
  text-align: end;
  font-size: 20px;
}

#value {
  height: 80px;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  text-align: end;
  font-size: 30px;
}

/* 2:1 nisbət */
.calculate {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

/* Numbers bölməsi */
.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.row {
  display: contents;
}

.number {
  width: 70%;
  height: 70%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  transform: 0.3s;

  &:hover {
    transform: 0.3s;
    background-color: rgba(117, 117, 117, 0.192);
  }
}

/* Arthmatic hissə */
.arthmatic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-self: center;
}

.add {
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add:nth-child(2),
.add:nth-child(4),
.add:nth-child(6),
.add:nth-child(7),
.add:nth-child(8) {
  background-color: #ff9f0a;
  padding: 1.2rem;
  font-size: 30px;

  &:hover {
    transition: 0.3s;
    opacity: 0.9;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add:nth-child(3),
.add:nth-child(5),
.add:nth-child(1) {
  padding: 1.2rem;
  transition: 0.3s;
  font-size: 30px;

  &:hover {
    transition: 0.3s;
    background-color: rgba(117, 117, 117, 0.192);
  }
}
